body{
    background-color: aliceblue;
}
#formflex{
    display: flex;
    text-align:left;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
#formhead{
    text-align: center;
}
input{
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
}
#note{
    min-width: 300px;
    min-height: 500px;
    resize: none;
    height: 75vh;
    width: 80vw;
}
ul{
    list-style: none;
}
li{
    padding-top: 20px;
    padding-bottom: 20px;

}
textarea{
    padding: 12px 20px;
    border : 2px black solid;
    outline: none;
}


#extraNote{
    min-width: 300px;
    min-height: 500px;
    resize: none;
    height: 75vh;
    width: 80vw;

}
